n8n-workflows/pillar-0-lead-gen/google-places-scraper.json
{
  "id": "gplacesscraper1",
  "name": "Pillar 0 - Google Places Lead Scraper",
  "nodes": [
    {
      "id": "gp-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gplaces-scraper-markexis",
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape/google-places",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "gp-code",
      "name": "Google Places Scrape + Ingest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Google Places Lead Scraper for Markexis\n// Uses the NEW Places API (places.googleapis.com/v1) — website included in search results\n// REQUIRES: GCP Console → API key restrictions → remove IP restriction or whitelist VPS IP\n// POST body (optional): { city, query } to run a single custom search\n// No body: runs the full preset query list\n\n// Smoke-test early return — health check without triggering a real scrape\nconst _body = $input.first()?.json?.body || {};\nif (_body._smoke_test) return [{ json: { ok: true, smoke_test: true } }];\n\nconst INGEST_URL = 'http://67.207.89.85:5678/webhook/lead-ingest';\nconst PLACES_KEY = $env.GOOGLE_PLACES_API_KEY;\nconst CAP = 25;\n\nconst DEFAULT_QUERIES = [\n  { query: 'B2B software company Mexico City' },\n  { query: 'SaaS startup Sao Paulo' },\n  { query: 'technology company B2B Bogota' },\n  { query: 'marketing agency B2B Buenos Aires' },\n  { query: 'fintech startup Mexico City' },\n  { query: 'software startup Santiago Chile' },\n  { query: 'B2B e-commerce platform Sao Paulo' },\n];\n\nconst CITY_MAP = {\n  'Mexico City': 'Mexico City', 'Sao Paulo': 'São Paulo',\n  'Bogota': 'Bogotá', 'Buenos Aires': 'Buenos Aires', 'Santiago': 'Santiago',\n};\n\nconst body = $input.first()?.json?.body || {};\nconst queries = (body.query)\n  ? [{ query: body.query }]\n  : DEFAULT_QUERIES;\n\nconst SKIP_TYPES = ['restaurant','food','lodging','gas_station','hospital','school','church','grocery_or_supermarket','bakery','bar','cafe'];\n\nconst seen = new Set();\nconst results = [];\n\nfor (const q of queries) {\n  if (results.length >= CAP) break;\n\n  let searchRes;\n  try {\n    searchRes = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://places.googleapis.com/v1/places:searchText',\n      headers: {\n        'X-Goog-Api-Key': PLACES_KEY,\n        'X-Goog-FieldMask': 'places.id,places.displayName,places.formattedAddress,places.websiteUri,places.types',\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({ textQuery: q.query, maxResultCount: 5 }),\n    });\n  } catch (e) {\n    continue;\n  }\n\n  for (const place of (searchRes.places || []).slice(0, 5)) {\n    if (results.length >= CAP) break;\n    if (seen.has(place.id)) continue;\n    seen.add(place.id);\n\n    const types = place.types || [];\n    if (SKIP_TYPES.some(t => types.includes(t))) continue;\n\n    const website = place.websiteUri || null;\n    let domain = null;\n    if (website) {\n      try { domain = new URL(website).hostname.replace(/^www\\./, ''); } catch (_) {}\n    }\n\n    const placeName = place.displayName?.text || 'Unknown';\n    const address = place.formattedAddress || '';\n    // Guess city from query text\n    const cityGuess = Object.keys(CITY_MAP).find(c => q.query.includes(c)) || address.split(',').slice(-2).join(',').trim();\n\n    const lead = {\n      name: placeName,\n      email: null,\n      company: placeName,\n      domain,\n      title: null,\n      location: CITY_MAP[cityGuess] || cityGuess,\n      source_platform: 'google_maps',\n      source_url: website || `https://maps.google.com/search?q=${encodeURIComponent(placeName)}`,\n      raw_bio: `${placeName} — ${address}. Types: ${types.slice(0, 3).join(', ')}. Found via Places search: \"${q.query}\".`,\n      company_size_signal: 'unknown',\n      scraped_at: new Date().toISOString(),\n    };\n\n    let ingestResult = 'skipped';\n    try {\n      const r = await this.helpers.httpRequest({\n        method: 'POST',\n        url: INGEST_URL,\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify(lead),\n      });\n      ingestResult = r.status || 'ok';\n    } catch (e) {\n      ingestResult = `error: ${e.message.slice(0, 80)}`;\n    }\n\n    results.push({ name: placeName, domain, address, ingest: ingestResult });\n    await new Promise(r => setTimeout(r, 200));\n  }\n}\n\nreturn [{ json: { scraped: results.length, results } }];"
      }
    },
    {
      "id": "gp-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Google Places Scrape + Ingest", "type": "main", "index": 0 }]]
    },
    "Google Places Scrape + Ingest": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
