n8n-workflows/pillar-0-lead-gen/hackernews-scraper.json
{
  "id": "hnscraper00001",
  "name": "Pillar 0 - HackerNews Lead Scraper",
  "nodes": [
    {
      "id": "hn-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "hn-scraper-markexis",
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape/hackernews",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "hn-code",
      "name": "HN Scrape + Ingest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 380],
      "parameters": {
        "jsCode": "// HackerNews Lead Scraper for Markexis\n// Uses HN Algolia API (free, no key) — searches last 48h for high-intent posts\n// Ingests founders via the unified lead-ingest webhook\n\nconst INGEST_URL = 'http://67.207.89.85:5678/webhook/lead-ingest';\nconst HOURS_BACK = 168; // 7 days — niche keywords need wider window\nconst MAX_PER_QUERY = 15;\nconst CAP = 20; // max new leads per run\n\n// Keywords matching Markexis ICP needs: LatAm expansion, AI marketing, GTM/growth\nconst QUERIES = [\n  'latam',\n  'saas founder',\n  'go-to-market',\n  'startup marketing',\n  'saas marketing',\n  'ai marketing',\n  'saas growth',\n  'b2b saas',\n  'latin america',\n  'marketing strategy',\n];\n\nconst since = Math.floor(Date.now() / 1000) - HOURS_BACK * 3600;\nconst seen = new Set();\nconst results = [];\n\nfor (const query of QUERIES) {\n  if (results.length >= CAP) break;\n\n  let res;\n  try {\n    res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://hn.algolia.com/api/v1/search_by_date?query=${encodeURIComponent(query)}&tags=(story,ask_hn,show_hn)&numericFilters=created_at_i%3E${since}&hitsPerPage=${MAX_PER_QUERY}`,\n    });\n  } catch (e) {\n    continue;\n  }\n\n  for (const hit of (res.hits || [])) {\n    if (!hit.author || seen.has(hit.author)) continue;\n    seen.add(hit.author);\n    if (results.length >= CAP) break;\n\n    // Fetch HN user profile for website/bio\n    let profile = {};\n    try {\n      profile = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://hacker-news.firebaseio.com/v0/user/${hit.author}.json`,\n      });\n    } catch (e) { /* profile optional */ }\n\n    // Strip HTML tags from about field\n    const about = ((profile && profile.about) || '').replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n\n    // Extract domain from about field\n    const urlMatch = about.match(/https?:\\/\\/([^\\s<>\"']+)/);\n    let domain = null;\n    if (urlMatch) {\n      domain = urlMatch[1].replace(/^www\\./, '').split('/')[0].toLowerCase();\n      // Skip common non-company domains\n      const skip = ['github.com', 'twitter.com', 'linkedin.com', 'youtube.com', 'medium.com', 'substack.com', 'news.ycombinator.com'];\n      if (skip.some(s => domain.endsWith(s))) domain = null;\n    }\n\n    const lead = {\n      name: hit.author,\n      email: null,\n      company: domain || hit.author,\n      domain: domain,\n      title: null,\n      location: null,\n      source_platform: 'hackernews',\n      source_url: `https://news.ycombinator.com/user?id=${hit.author}`,\n      raw_bio: about || hit.title || `HN user who posted: ${hit.title || ''}`,\n      company_size_signal: 'unknown',\n      scraped_at: new Date().toISOString(),\n    };\n\n    let ingestResult = 'skipped';\n    try {\n      const r = await this.helpers.httpRequest({\n        method: 'POST',\n        url: INGEST_URL,\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify(lead),\n      });\n      ingestResult = r.status || 'ok';\n    } catch (e) {\n      ingestResult = `error: ${e.message.slice(0, 80)}`;\n    }\n\n    results.push({ author: hit.author, domain, post: hit.title, ingest: ingestResult });\n\n    // Small delay to avoid hammering HN Firebase\n    await new Promise(r => setTimeout(r, 300));\n  }\n}\n\nreturn [{ json: { scraped: results.length, results } }];"
      }
    },
    {
      "id": "hn-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 380],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "HN Scrape + Ingest", "type": "main", "index": 0 }]]
    },
    "HN Scrape + Ingest": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
