n8n-workflows/pillar-0-lead-gen/lead-ingest-enrich-score.json
{
  "id": "leadpipeline0001",
  "name": "Pillar 0 - Lead Ingest + Enrich + Score",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook - lead-ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "webhookId": "lead-ingest-markexis"
    },
    {
      "parameters": {
        "jsCode": "// ---- Markexis lead pipeline: normalize -> Firecrawl enrich -> Groq score -> Supabase upsert ----\nconst ENV = (typeof $env !== 'undefined' && $env) ? $env : process.env;\nconst b = ($json.body) || $json || {};\nconst platforms = [\"linkedin\",\"instagram\",\"google_maps\",\"reddit\",\"github\",\"producthunt\",\"yelp\",\"twitter\",\"g2\",\"wellfound\",\"facebook\",\"hackernews\"];\nconst sizes = [\"1-10\",\"11-50\",\"51-200\",\"201+\",\"unknown\"];\nconst clean = (v) => (typeof v === \"string\" ? v.trim() : v) || null;\nfunction domainFrom(d, email) {\n  if (d) { return String(d).replace(/^https?:\\/\\//i,\"\").replace(/^www\\./i,\"\").split(\"/\")[0].toLowerCase(); }\n  if (email && email.includes(\"@\")) {\n    const dd = email.split(\"@\")[1].toLowerCase();\n    const free = [\"gmail.com\",\"yahoo.com\",\"hotmail.com\",\"outlook.com\",\"icloud.com\",\"proton.me\"];\n    if (!free.includes(dd)) return dd;\n  }\n  return null;\n}\nconst email = clean(b.email) ? String(b.email).toLowerCase() : null;\nlet size = clean(b.company_size_signal); if (!sizes.includes(size)) size = \"unknown\";\nlet platform = clean(b.source_platform); if (!platforms.includes(platform)) platform = \"unknown\";\nconst lead = {\n  name: clean(b.name), email, company: clean(b.company),\n  domain: domainFrom(clean(b.domain), email),\n  title: clean(b.title), location: clean(b.location),\n  source_platform: platform, source_url: clean(b.source_url),\n  raw_bio: clean(b.raw_bio), company_size_signal: size,\n  scraped_at: b.scraped_at || new Date().toISOString()\n};\n\n// 1) Firecrawl enrich (best-effort)\nlet enriched = null, fcErr = null;\ntry {\n  if (lead.domain) {\n    const fc = await this.helpers.httpRequest({\n      method: \"POST\", url: \"https://api.firecrawl.dev/v1/scrape\",\n      headers: { Authorization: \"Bearer \" + ENV.FIRECRAWL_API_KEY, \"Content-Type\": \"application/json\" },\n      body: { url: \"https://\" + lead.domain, formats: [\"markdown\"] }, json: true, timeout: 30000\n    });\n    enriched = (fc && fc.data && fc.data.markdown) ? String(fc.data.markdown).slice(0, 3500) : null;\n  }\n} catch (e) { fcErr = String(e && e.message || e).slice(0, 200); }\n\n// 2) Groq ICP score\nconst SYSTEM = \"You are a lead qualifier for Markexis, a premium B2B consulting firm specializing in:\\n1. Revenue Growth & GTM Strategy\\n2. Latin America Market Entry (Mexico, Brazil, Colombia, Argentina, Chile)\\n3. AI Implementation in Marketing & Sales\\n4. AI Data & Insights\\n\\nClassify the lead as PERFECT, GOOD, or NO_MATCH for Markexis.\\n\\nPERFECT (3+ criteria): title is CEO/Founder/CMO/VP Marketing/CRO/Head of Growth/VP Sales/Marketing Director; company is B2B SaaS/Fintech/Healthtech/CPG/tech startup/e-commerce with B2B; size 20-500; based in US/Canada/UK/EU/Australia (or a LatAm company wanting to scale); has a signal like Latin America/LATAM/Mexico/Brazil/Colombia/AI marketing/go-to-market/GTM/pipeline/Series A/just raised/scaling/expanding/growth strategy.\\nGOOD (2 criteria, or promising but weak): right industry slightly wrong title; right title adjacent industry; LatAm company wanting better marketing.\\nNO_MATCH (any disqualifier): local business; enterprise 5000+ employees; pre-revenue/pre-product; competitor agency/consultant; consumer-only no B2B; no budget signals.\\n\\nRespond ONLY with valid JSON, nothing else:\\n{\\\"icp_score\\\":\\\"PERFECT|GOOD|NO_MATCH\\\",\\\"numeric_score\\\":1-10,\\\"reasoning\\\":\\\"one sentence\\\",\\\"latam_signal\\\":true|false,\\\"ai_signal\\\":true|false,\\\"growth_signal\\\":true|false,\\\"priority_action\\\":\\\"email_track_latam|email_track_ai|email_track_growth|linkedin_dm|skip\\\",\\\"personalization_hook\\\":\\\"one specific detail from their bio/company to open an email with\\\"}\";\nconst USER = \"Lead data:\\nName: \" + (lead.name||\"\") + \"\\nTitle: \" + (lead.title||\"\") +\n  \"\\nCompany: \" + (lead.company||\"\") + \"\\nCompany size: \" + (lead.company_size_signal||\"\") +\n  \"\\nLocation: \" + (lead.location||\"\") + \"\\nBio/Description: \" + (lead.raw_bio||\"\") +\n  \"\\nEnriched company info: \" + (enriched||\"none\") + \"\\nSource platform: \" + (lead.source_platform||\"\");\nlet parsed = {}, groqErr = null;\ntry {\n  const gr = await this.helpers.httpRequest({\n    method: \"POST\", url: \"https://api.groq.com/openai/v1/chat/completions\",\n    headers: { Authorization: \"Bearer \" + ENV.GROQ_API_KEY, \"Content-Type\": \"application/json\" },\n    body: { model: \"llama-3.1-8b-instant\", messages: [{role:\"system\",content:SYSTEM},{role:\"user\",content:USER}], temperature: 0.2, max_tokens: 512, response_format: { type: \"json_object\" } },\n    json: true, timeout: 30000\n  });\n  parsed = JSON.parse(gr.choices[0].message.content);\n} catch (e) { groqErr = String(e && e.message || e).slice(0, 200); }\n\n// 3) build row\nconst row = Object.assign({}, lead, {\n  enriched_description: enriched,\n  icp_score: parsed.icp_score || \"NO_MATCH\",\n  numeric_score: (typeof parsed.numeric_score === \"number\") ? parsed.numeric_score : null,\n  icp_reasoning: parsed.reasoning || null,\n  latam_signal: (typeof parsed.latam_signal === \"boolean\") ? parsed.latam_signal : null,\n  ai_signal: (typeof parsed.ai_signal === \"boolean\") ? parsed.ai_signal : null,\n  growth_signal: (typeof parsed.growth_signal === \"boolean\") ? parsed.growth_signal : null,\n  priority_action: parsed.priority_action || null,\n  personalization_hook: parsed.personalization_hook || null,\n  outreach_status: \"pending\"\n});\n\n// 4) Supabase upsert (dedup on domain)\nlet stored = false, supaErr = null;\ntry {\n  await this.helpers.httpRequest({\n    method: \"POST\", url: ENV.SUPABASE_URL + \"/rest/v1/leads?on_conflict=domain\",\n    headers: { apikey: ENV.SUPABASE_ANON_KEY, Authorization: \"Bearer \" + ENV.SUPABASE_ANON_KEY, \"Content-Type\": \"application/json\", Prefer: \"resolution=merge-duplicates,return=representation\" },\n    body: row, json: true, timeout: 20000\n  });\n  stored = true;\n} catch (e) { supaErr = String(e && e.message || e).slice(0, 300); }\n\nreturn [{ json: {\n  status: \"ok\", stored, fcErr, groqErr, supaErr,\n  summary: { company: lead.company, domain: lead.domain, icp_score: row.icp_score, numeric_score: row.numeric_score, priority_action: row.priority_action }\n} }];"
      },
      "id": "node-pipeline",
      "name": "Lead Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        300
      ]
    }
  ],
  "connections": {
    "Webhook - lead-ingest": {
      "main": [
        [
          {
            "node": "Lead Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Pipeline": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}