n8n-workflows/pillar-5-ops/pipeline-orchestrator.json
{
  "id": "pipelineorch01",
  "name": "Pillar 5 - Pipeline Orchestrator (keyword → SEO research → full content → RAG ingest)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ops/run-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook - run-pipeline",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "webhookId": "pipeline-orch-markexis"
    },
    {
      "parameters": {
        "jsCode": "// ---- Pillar 5: Pipeline Orchestrator — keyword → full content → RAG ----\n// One webhook triggers the ENTIRE content machine:\n//   1) keyword-research (Google Suggest → cluster → Supabase)\n//   2) content-director (article → social posts → image → newsletter)\n//   3) doc-ingester (article → knowledge_base pgvector for RAG)\n// Input: { keyword: '...', pillar?: 'latam|ai|gtm', skip_seo?: false }\n// All sub-workflows run on localhost:5678 (no internet round-trips)\n// Returns: full pipeline summary with timing for each stage\nconst ENV = (typeof $env !== 'undefined' && $env) ? $env : process.env;\nconst b = $json.body || $json;\n\nconst keyword = String(b.keyword || '').trim();\nconst pillar  = String(b.pillar  || 'gtm').trim();\nconst skipSEO = b.skip_seo === true;\n\nif (!keyword) return [{ json: { ok: false, error: 'keyword is required' } }];\n\nconst N8N_BASE = 'http://localhost:5678/webhook';\nconst pipelineStart = Date.now();\n\nasync function call(path, body, timeoutMs = 120000) {\n  const t0 = Date.now();\n  try {\n    const result = await this.helpers.httpRequest({\n      method: 'POST', url: `${N8N_BASE}/${path}`,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify(body), json: true, timeout: timeoutMs\n    });\n    return { ok: true, elapsed_ms: Date.now() - t0, data: result };\n  } catch (e) {\n    return { ok: false, elapsed_ms: Date.now() - t0, error: e.message?.slice(0, 200) };\n  }\n}\n\nconst stages = {};\n\n// Stage 1: SEO keyword research (optional — enriches the keyword context)\nif (!skipSEO) {\n  const seoResult = await call.call(this, 'seo/keyword-research', { seeds: [keyword] }, 60000);\n  stages.seo_research = { ok: seoResult.ok, elapsed_ms: seoResult.elapsed_ms, error: seoResult.error };\n} else {\n  stages.seo_research = { ok: true, skipped: true };\n}\n\n// Stage 2: Content Director — article + social posts + image + newsletter\nconst contentResult = await call.call(this, 'content/produce', { keyword, pillar, word_count: 1500 }, 180000);\nstages.content_production = {\n  ok: contentResult.ok,\n  elapsed_ms: contentResult.elapsed_ms,\n  error: contentResult.error,\n  summary: contentResult.data?.summary || null\n};\n\n// Stage 3: Ingest article into RAG knowledge base (if content succeeded)\nif (contentResult.ok && contentResult.data?.summary?.article?.ok) {\n  // article-writer stores HTML to Supabase but doesn't return it in the response\n  // fetch it directly so we can ingest the full text\n  let articleText = '';\n  try {\n    const sbRes = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${ENV.SUPABASE_URL}/rest/v1/content_pipeline?keyword=eq.${encodeURIComponent(keyword)}&select=article_draft&limit=1`,\n      headers: { apikey: ENV.SUPABASE_ANON_KEY, Authorization: `Bearer ${ENV.SUPABASE_ANON_KEY}` },\n      json: true, timeout: 10000\n    });\n    articleText = (Array.isArray(sbRes) && sbRes[0]?.article_draft) ? sbRes[0].article_draft : '';\n  } catch { /* ingest with empty string — chunks_stored will be 0 */ }\n  const ragResult = await call.call(this, 'ops/ingest-doc', {\n    content: articleText,\n    source: `markexis_blog/${keyword.replace(/\\s+/g, '_')}`,\n    doc_type: 'blog_article'\n  }, 60000);\n  stages.rag_ingestion = {\n    ok: ragResult.ok,\n    elapsed_ms: ragResult.elapsed_ms,\n    chunks_stored: ragResult.data?.chunks_stored,\n    error: ragResult.error\n  };\n} else {\n  stages.rag_ingestion = { ok: false, skipped: true, reason: 'Content stage did not succeed' };\n}\n\nconst totalElapsed = Math.round((Date.now() - pipelineStart) / 1000);\nconst allOk = Object.values(stages).every(s => s.ok || s.skipped);\n\nreturn [{ json: {\n  ok: allOk,\n  keyword, pillar,\n  total_elapsed_seconds: totalElapsed,\n  stages,\n  ran_at: new Date().toISOString()\n} }];"
      },
      "id": "node-orchestrator",
      "name": "Pipeline Orchestrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 300]
    }
  ],
  "connections": {
    "Webhook - run-pipeline": { "main": [[{ "node": "Pipeline Orchestrator", "type": "main", "index": 0 }]] },
    "Pipeline Orchestrator": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
