n8n-workflows/pillar-5-ops/rag-searcher.json
{
  "id": "ragsearcherv01",
  "name": "Pillar 5 - RAG Searcher (query → Jina embed → pgvector → Groq synthesize)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ops/rag-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook - rag-search",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 300],
      "webhookId": "rag-searcher-markexis"
    },
    {
      "parameters": {
        "jsCode": "const _body = $json.body || $json; if (_body._smoke_test) return [{ json: { ok: true, smoke_test: true } }];
// ---- Pillar 5: RAG Searcher — natural language → pgvector → optional Groq synthesis ----\n// Input: { query: '...', threshold?: 0.7, limit?: 5, synthesize?: true }\n// 1) Embed query via Jina AI (same model as doc-ingester → cosine space matches)\n// 2) Call Supabase RPC match_knowledge_base for top-k similar chunks\n// 3) If synthesize=true: Groq 8b synthesizes an answer from the retrieved chunks\n// Returns: { chunks: [...], answer?: '...' }\nconst ENV = (typeof $env !== 'undefined' && $env) ? $env : process.env;\nconst b = $json.body || $json;\n\nconst query = String(b.query || '').trim();\nconst threshold = parseFloat(b.threshold ?? 0.65);\nconst limit = Math.min(parseInt(b.limit ?? 5), 10);\nconst synthesize = b.synthesize !== false; // default true\n\nif (!query) return [{ json: { ok: false, error: 'query is required' } }];\nif (!ENV.JINA_API_KEY) return [{ json: { ok: false, error: 'JINA_API_KEY not set' } }];\nif (!ENV.SUPABASE_URL) return [{ json: { ok: false, error: 'SUPABASE_URL not set' } }];\n\n// Step 1: Embed query\nlet queryEmbedding;\ntry {\n  const jinaRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.jina.ai/v1/embeddings',\n    headers: { Authorization: `Bearer ${ENV.JINA_API_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ model: 'jina-embeddings-v2-base-en', input: [query] }),\n    json: true, timeout: 20000\n  });\n  queryEmbedding = jinaRes.data[0].embedding;\n} catch (e) { return [{ json: { ok: false, error: `Jina embed failed: ${e.message.slice(0,100)}` } }]; }\n\n// Step 2: pgvector similarity search via Supabase RPC\nlet chunks = [];\ntry {\n  const rpcRes = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${ENV.SUPABASE_URL}/rest/v1/rpc/match_knowledge_base`,\n    headers: {\n      apikey: ENV.SUPABASE_ANON_KEY, Authorization: `Bearer ${ENV.SUPABASE_ANON_KEY}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      query_embedding: queryEmbedding,\n      match_threshold: threshold,\n      match_count: limit\n    }),\n    json: true, timeout: 15000\n  });\n  chunks = Array.isArray(rpcRes) ? rpcRes : [];\n} catch (e) { return [{ json: { ok: false, error: `Vector search failed: ${e.message.slice(0,100)}` } }]; }\n\nif (!chunks.length) {\n  return [{ json: { ok: true, query, chunks: [], answer: null, message: 'No matching documents found — try a lower threshold or ingest more content' } }];\n}\n\n// Step 3: Optional Groq synthesis\nlet answer = null;\nif (synthesize && ENV.GROQ_API_KEY) {\n  const context = chunks.map((c, i) => `[${i+1}] (${c.source || 'unknown'}) ${c.content}`).join('\\n\\n');\n  try {\n    const groqRes = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.groq.com/openai/v1/chat/completions',\n      headers: { Authorization: `Bearer ${ENV.GROQ_API_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        model: 'llama-3.1-8b-instant',\n        messages: [\n          { role: 'system', content: 'You are a knowledge assistant for Markexis. Answer the user question using ONLY the provided context chunks. Be specific and cite sources. If the context doesn\\'t contain enough information, say so clearly.' },\n          { role: 'user', content: `Question: ${query}\\n\\nContext:\\n${context}\\n\\nAnswer based on the context above:` }\n        ],\n        temperature: 0.2, max_tokens: 512\n      }),\n      json: true, timeout: 30000\n    });\n    answer = groqRes.choices[0].message.content;\n  } catch { answer = null; }\n}\n\nreturn [{ json: {\n  ok: true,\n  query,\n  chunks_found: chunks.length,\n  chunks: chunks.map(c => ({ id: c.id, source: c.source, doc_type: c.doc_type, similarity: Math.round(c.similarity * 1000) / 1000, content: c.content })),\n  answer,\n  synthesized: !!answer\n} }];"
      },
      "id": "node-searcher",
      "name": "RAG Searcher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 300]
    }
  ],
  "connections": {
    "Webhook - rag-search": { "main": [[{ "node": "RAG Searcher", "type": "main", "index": 0 }]] },
    "RAG Searcher": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
